<%= form_with(model: screening, local: true) do |form| %>
  <% if screening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screening.errors.count, "error") %> prohibited this screening from being saved:</h2>

      <ul>
      <% screening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :interviewer %>
    <%= form.collection_select :interviewer_id, Interviewer.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= form.label :candidate %>
    <%= form.collection_select :candidate_id, Candidate.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= form.label :screening_type %>
    <%= form.collection_select :screening_type_id, ScreeningType.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
