<p id="notice"><%= notice %></p>

<h1>Screenings</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Interviewer</th>
      <th>Candidate</th>
      <th>Screening Type</th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @screenings.each do |screening| %>
      <tr>
        <td><%= screening.interviewer.full_name %></td>
        <td><%= screening.candidate.full_name %></td>
        <td><%= screening.screening_type.name %></td>
        <td><%= screening.notes %></td>
        <td>
          <%= link_to 'Edit', edit_screening_path(screening) %>
          <%= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screening', new_screening_path %>
