<p id="notice"><%= notice %></p>

<h1>Screenings</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screenings.each do |screening| %>
      <tr>
        <td><%= screening.notes %></td>
        <td>
          <%= link_to 'Show', screening %>
          <%= link_to 'Edit', edit_screening_path(screening) %>
          <%= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screening', new_screening_path %>
