<p id="notice"><%= notice %></p>

<h1>Screening Types</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time Minutes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screening_types.each do |screening_type| %>
      <tr>
        <td><%= link_to screening_type.name, screening_type %></td>
        <td><%= screening_type.time_minutes %></td>
        <td>
          <%= link_to 'Edit', edit_screening_type_path(screening_type) %>
          <%= link_to 'Destroy', screening_type, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screening Type', new_screening_type_path %>
