<p id="notice"><%= notice %></p>

<h1>Decisions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @decisions.each do |decision| %>
      <tr>
        <td><%= link_to decision.name, decision %></td>
        <td>
          <%= link_to 'Edit', edit_decision_path(decision) %>
          <%= link_to 'Destroy', decision, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Decision', new_decision_path %>
