<p id="notice"><%= notice %></p>

<h1>Interviewers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Full Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviewers.each do |interviewer| %>
      <tr>
        <td><%= link_to interviewer.full_name, interviewer %></td>
        <td>
          <%= link_to 'Edit', edit_interviewer_path(interviewer) %>
          <%= link_to 'Destroy', interviewer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interviewer', new_interviewer_path %>
