<%= form_with(model: candidate, local: true) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this recruiter from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :pass_hr_screening %>
    <%= form.check_box :pass_hr_screening %>
  </div>

  <div class="field">
    <%= form.label :requisition %>
    <%= form.collection_select :requisition_id, Requisition.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :recruiter %>
    <%= form.collection_select :recruiter_id, Recruiter.all, :id, :full_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
