<table class="table table-bordered">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Requisition Title</th>
      <th>Recruiter</th>
      <th>Pass HR Screen?</th>
      <th>Decision</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.full_name, candidate_path(candidate) %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.phone %></td>
        <td><%= link_to candidate.requisition.title, requisition_path(candidate.requisition) %></td>
        <td><%= candidate.recruiter.full_name %></td>
        <td><%= candidate.pass_hr_screening ? "True" : "False" %></td>
        <td><%= candidate.decision.name %></td>
        <td>
          <%= link_to 'Edit', edit_candidate_path(candidate) %>
          <%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
