<p id="notice"><%= notice %></p>

<h1>Requisitions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Open Date</th>
      <th>Close Date</th>
      <th>Recruiter</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @requisitions.each do |requisition| %>
      <tr>
        <td><%= link_to requisition.title, requisition %></td>
        <td><%= requisition.open_date %></td>
        <td><%= requisition.close_date %></td>
        <td><%= requisition.recruiter.full_name %></td>
        <td>
          <%= link_to 'Edit', edit_requisition_path(requisition) %>
          <%= link_to 'Destroy', requisition, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requisition', new_requisition_path %>
