<p id="notice"><%= notice %></p>

<h1>Recruiters</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Full Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recruiters.each do |recruiter| %>
      <tr>
        <td><%= link_to recruiter.full_name, recruiter %></td>
        <td>
          <%= link_to 'Edit', edit_recruiter_path(recruiter) %>
          <%= link_to 'Destroy', recruiter, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruiter', new_recruiter_path %>
