<nav class="navbar navbar-default" role="navigation">
  <a class="navbar-brand" href="#">Recruitline</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if controller_name == 'candidates' %>">
        <a href="<%= candidates_path %>">Candidates</a>
      </li>
      <li class="<%= 'active' if controller_name == 'recruiters' %>">
        <a href="<%= recruiters_path %>">Recruiters</a>
      </li>
      <li class="<%= 'active' if controller_name == 'requisitions' %>">
        <a href="<%= requisitions_path %>">Requisitions</a>
      </li>
      <li class="<%= 'active' if controller_name == 'interviewers' %>">
        <a href="<%= interviewers_path %>">Interviewers</a>
      </li>
      <li class="<%= 'active' if controller_name == 'screening_types' %>">
        <a href="<%= screening_types_path %>">Screening Types</a>
      </li>
      <li class="<%= 'active' if controller_name == 'screenings' %>">
        <a href="<%= screenings_path %>">Screenings</a>
      </li>
      <li class="<%= 'active' if controller_name == 'decisions' %>">
        <a href="<%= decisions_path %>">Decisions</a>
      </li>
    </ul>
  </div>
</nav>
